header .banner {
  min-height: 300px;
  background-image: url(../public/fazenda.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
}

header .infos {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f9f9f9;
  padding: 50px 0 0;
  border-radius: 20px;
}

header .infos > div:first-child {
  display: flex;
  align-items: center;
}

header .infos > div:first-child h1 {
  margin: 0;
  padding: 0;
  font-size: 23px;

  margin-bottom: 10px;
}

header .infos > div:first-child p {
  padding: 0;
  margin: 0;
}

/* Main */

.main {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;

  margin-top: 100px;
}

.main h2 {
  font-size: 38px;
}

/* Products */
.products {
  margin-bottom: 150px;
}

.products h2 {
  margin-bottom: 50px;
}

.products__wrapper {
  margin: 0px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.btnWhatsApp {
  display: block;
  margin: 50px auto 0 auto;
  width: fit-content;
  padding: 15px 50px;
  border-radius: 10px;
  border: 1px solid rgb(73, 194, 94);
  transition: 0.3s all;
  color: #fff;
  background-color: rgb(73, 194, 94);

  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btnWhatsApp:hover {
  background-color: rgb(58, 143, 72);
}

@media (max-width: 768px) {
  header .banner {
    min-height: 300px;
    background-image: url(../public/fazenda.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
  }

  header .infos {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;

    background-color: #f9f9f9;
    padding: 50px 0 0;
    border-radius: 20px;
  }

  header .infos > div:first-child {
    display: flex;
    align-items: center;
  }

  header .infos > div:first-child h1 {
    margin: 0;
    padding: 0;
    font-size: 23px;

    margin-bottom: 10px;
  }

  header .infos > div:first-child p {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }

  /* Main */

  .main {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;

    margin-top: 100px;
  }

  .main h2 {
    font-size: 26px;
  }

  /* Products */
  .products {
    margin-bottom: 150px;
  }

  .products h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
  }

  .products__wrapper {
    margin: 0px 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;
  }
}
